.landingBanner {
  display: grid;
  grid-template-areas: "intro" "work";
  margin: 1rem;
  gap: 1rem;
}

@media only screen and (min-width: 700px) {
  .landingBanner {
    margin: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro work";
    align-items: flex-start;
    gap: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .landingBanner {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (min-width: 1200px) {
  .landingBanner {
    grid-template-columns: 1fr 3fr;
  }
}