:root {
  --color-text-primary: #fff;
  --color-text-secondary: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr auto;
  background-image: linear-gradient(#1f222c .1rem, transparent .1rem), linear-gradient(to right, #1f222c .1rem, transparent .1rem);
  background-size: 4svh 4svh;
  background-color: #222733;
  font-family: var(--font-padauk);
  font-weight: normal;
  text-wrap: pretty;
  color: #fff;
}

main {
  grid-column: 2;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #D4BFFF;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: var(--font-sansita-swashed);
  font-weight: bold;
  font-size: 3rem;
}

@media only screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
  }
}