* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(#1b1f28 .2rem, transparent .2rem), linear-gradient(to right, #1b1f28 .2rem, transparent .2rem);
  background-size: 4dvh 4dvh;
  background-color: #222733;
}

.noPointer {
  pointer-events: none;
}