:root {
  --color-text-primary: #fff;
  --color-text-secondary: #bbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr auto;
  font-family: var(--font-padauk);
  font-weight: normal;
  text-wrap: pretty;
  color: #fff;
  background: linear-gradient(45deg,transparent 14%, #1f222c 15%, #1f222c 20%, transparent 21%, transparent 79%, #1f222c  80%, #1f222c 85%, transparent 86%),linear-gradient(135deg,transparent 14%, #1f222c 15%, #1f222c 20%, transparent 21%, transparent 79%, #1f222c  80%, #1f222c 85%, transparent 86%), radial-gradient(transparent 14%, #1f222c 15%, #1f222c 25%, transparent 26%);
  background-size: 1em 1em;
  background-color: #222733;
}

main {
  grid-column: 2;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #D4BFFF;
}

a:hover {
  text-decoration: underline;
}

/* Type Scale: Minor Third (1.200) */

h1 {
  font-family: var(--font-sansita-swashed);
  font-weight: bold;
  font-size: 2.986rem;
}

h2 {
  font-weight: bold;
  font-size: 2.488rem;
}

h3 {
  font-weight: bold;
  font-size: 2.074rem;
}

h4 {
  font-weight: bold;
  font-size: 1.728rem;
}

h5 {
  font-weight: bold;
  font-size: 1.44rem;
}

h6 {
  font-weight: bold;
  font-size: 1.2rem;
}

small {
  font-size: 0.833rem;
}

.tiny {
  font-size: 0.694rem;
}

@media only screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
  }
}