.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

}
.container hr {
  width: 100%;
  max-width: 60ch;
  border-top: solid var(--color-border) 1px;
}

.header {
  display: grid;
  grid-template-areas:
    "pfp"
    "quickInfo";
  justify-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 60ch;
}

.quickInfo {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  grid-area: quickInfo;
  width: 100%;
}

.pfp {
  grid-area: pfp;
}

.displayName {
  width: 250px;
  height: auto;
}

.jobTitle {
  font-size: 1rem;
  color: #EED36C;
}

.degree {
  color: var(--color-text-secondary);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 60ch;
}

.desc {
  font-size: 1.25rem;
  line-height: 2rem;
}

.quote {
  width: 100%;
  max-width: 60ch;
}

.pronounce {
  text-decoration: underline dotted;
  text-underline-offset: .5rem;
}

.highlight1 {
  color: #c79988;
}

.highlight2 {
  color: #f36ab9;
}

.pfp {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: solid white 4px;
  border-radius: 50%;
  background: url(../assets/manchester_skyline.webp);
  background-position: 30% 30%;
  background-size: cover;
}

.pfp img {
  width: 100%;
  height: auto;
}

.quote {
  background: #d9ffb6;
  color: #000;
  padding: 1rem;
  position: relative;
  border-radius: .5rem;
}

.quote svg {
  position: absolute;
  top: 0;
  right: -.2rem;
  transform: translate(50%, -50%) rotate(20deg);
  fill: white;
}

.shallWe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 60ch;
  width: 100%;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 4rem;
  }

  .displayName {
    width: 300px;
  }
}