.header {
  .title {
    padding: 1rem;
    background-color: #1b1f28aa;
    grid-area: title;
    color: #fff;
    font-size: 1rem;

    .des {
      color: #f36ab9;
    }

    .dev {
      color: #c79988;
    }
  }

  .nav {
    color: #eee;
    padding: 1rem;
    font-weight: bold;
    white-space: nowrap;
    background: #ffffff10;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    align-items: center;
    scrollbar-width: thin;

    .links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .links a {
      padding: .3rem;
      border-radius: .3rem;
      color: #d4bfff;
      text-decoration: none;
      transition: 100ms ease-in-out;
      transition-property: background, color;
    }

    .links a:not(.active):hover {
      background: #2c2f39;
    }

    .links a.active {
      background: #d4bfff;
      color: #1b1f28;
    }

    .logoContainer img {
      display: block;
    }
  }
}

@media only screen and (min-width: 800px) {
  .header {
    .title, .nav {
      padding: 1rem 2rem;
    }
  }
}