.container {
  display: flex;
  gap: 1rem;
}

.badge {
  background: #34363B;
  padding: 0 .5rem;
  font-weight: bold;
  border-radius: 5rem;
}

.personalProject {
  background: #f36ab9;
}

.client {
  background: #933838;
}
